:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
input[type="button"]:hover {
  cursor: pointer;
}

.wid-title h2 {
  font-size: 24;
  font-weight: 700;
  margin-bottom: 10px;
}
.wid-title p {
  font-weight: 600;
  color: #888;
  margin-top: 0;
  padding-top: 0;
}
input:focus::placeholder {
  opacity: 0;
}
textarea:focus::placeholder {
  opacity: 0;
}
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  transition: width 0.3s;
  @media (max-width: 767px) {
    width: 62px;
    padding: 10px;
  }
  & > h3 {
    margin-bottom: 50px;
    transition: font-size 0.3s;
    @media (max-width: 767px) {
      font-size: 13px;
      margin-bottom: 15px;
    }
    &::after,
    &::before {
      @media (max-width: 767px) {
        display: none;
      }
      content: "";
      position: absolute;
      background-color: black;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      width: 80px;
      height: 2px;
      bottom: -20px;
    }
    &::before {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 4px solid white;
      z-index: 5;
      bottom: -29;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      a {
        margin-bottom: 5px;
        border-radius: 5px;
        transition: background-color 0.3s;
        &.active,
        &:hover {
          background-color: #f6f6f6;
        }
        span {
          font-size: 14px;
          margin-left: 10px;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}
/* end Sidebar */
/* Start head */
.head {
  justify-content: space-between;
  padding: 15px;
  .right {
    justify-content: space-between;
    gap: 10px;
    i {
      font-size: 22px;
      &::after {
        content: "";
        position: absolute;
        top: -7px;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: var(--red-color);
        border-radius: 50%;
      }
    }
  }
  .left {
    border-radius: 10px;
    border: 1px solid rgba(136, 136, 136, 0.523);
    .search {
      &::placeholder {
        font-size: 12px;
      }
      width: 130px;
      transition: width 0.3s;
      @media (min-width: 480px) {
        &:focus-within {
          width: 180px;
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }
}
/* end head */

/*----------------------------------------------------*\
                    content - Dashboard               
\*----------------------------------------------------*/
.content {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
    .welcome {
      overflow: hidden;
      .wid-title {
        background-color: #eeeeee;
        background-image: url(../imgs/welcome.png);
        background-position: 92% 10px;
        background-size: 200px;
        background-repeat: no-repeat;
      }
      img {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 4px solid white;
        box-shadow: 0 0 10px #ddd;
        top: 105px;
        left: 40px;
        @media (max-width: 767px) {
          left: 50%;
          top: 132;
          transform: translate(-50%, -50%);
        }
      }
      .profile {
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        h3 {
          font-weight: 600;
        }
        & > div {
          @media (min-width: 767px) {
            width: 30%;
          }
        }
      }
    }
    .draft {
      .wid-title {
        padding-bottom: 0px;
        p {
          margin-bottom: 0;
        }
      }
      form {
        padding-top: 0px;
        input#title {
          background-color: #eeeeee;
          padding: 10px 20px;
          margin-top: 20px;
        }
        textarea {
          border: none;
          background-color: #eeeeee;
          margin-top: 20px;
          margin-bottom: 20px;
          max-height: 200px;
          resize: none;
        }
      }
    }
    .targets {
      padding: 30px 20px 30px;
      .first {
        .icon {
          background-color: #0077ff4b;
          color: #0075ff;
        }
        .bar {
          background-color: #0077ff4b;
          .inside-bar {
            width: 80%;
          }
        }
      }
      .second {
        .icon {
          background-color: #f59e0b4b;
          color: #f59e0b;
        }
        .detail {
          .bar {
            background-color: #f59e0b4b;
            .inside-bar {
              width: 55%;
            }
          }
        }
      }
    }
    .third {
      .icon {
        background-color: #22c55e4b;
        color: #22c55e;
      }
      .bar {
        background-color: #22c55e4b;
        .inside-bar {
          width: 75%;
        }
      }
    }
    .target-row {
      margin-bottom: 20px;
      .icon {
        width: 80px;
        height: 80px;
        font-size: 22px;
      }
      .detail {
        padding: 10px 10px 5px;
        span:first-child {
          font-size: 20px;
          color: var(--grey-color);
          margin-bottom: 5px;
        }
        span:nth-child(2) {
          font-size: 20px;
          color: black;
          font-weight: 700;
          margin-bottom: 5px;
        }
        width: calc(100% - 80px);
        .bar {
          width: 100%;
          height: 5px;
          position: relative;
          .inside-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
          }
        }
      }
    }
    .tickets {
      .wid-title {
        padding-bottom: 0;
      }
      .stats {
        flex-wrap: wrap;
        .stat {
          padding: 20px;
          margin-bottom: 10px;
          border: 1px solid #eee;
          border-radius: 10px;
          width: calc(50% - 10px);
          @media (max-width: 1170px) {
            flex-basis: 100%;
          }
          i {
            font-size: 25px;
            margin-bottom: 15px;
          }
          span:first-of-type {
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .latest-news {
      .news {
        .row {
          &:not(:last-of-type) {
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            margin-bottom: 20px;
          }
          @media (max-width: 767px) {
            flex-direction: column;
          }
          div:first-of-type {
            @media (max-width: 767px) {
              flex-direction: column;
            }
            img {
              width: 100px;
              height: 57px;
              border-radius: 6px;
            }
            .row-title {
              h3 {
                margin-bottom: 5px;
                @media (max-width: 767px) {
                  margin-bottom: 15px;
                }
              }
            }
          }
          .right {
            padding: 7px 12px;
            background-color: #eee;
            border-radius: 10px;
          }
        }
      }
    }
    .latest-tasks {
      .task-row {
        &:not(:last-of-type) {
          border-bottom: 1px solid #eee;
        }
      }
    }
    .top-search {
      div > span {
        float: right;
      }
    }
    .latest-uploads {
      .upload-row:not(:last-of-type) {
        border-bottom: 1px solid #eee;
      }
    }
    .last-project {
      @keyframes light {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      span {
        width: 30px;
        height: 30px;
        border: 2px solid var(--blue-color);
        border-radius: 50%;
        position: relative;
        &::after,
        &::before {
          content: "";
          background-color: var(--blue-color);
          position: absolute;
        }
      }
      div:nth-of-type(2) span::after,
      div:nth-of-type(3) span::after,
      div:nth-of-type(4) span::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 22px;
        height: 22px;
      }

      div:nth-of-type(5) span::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        animation: light 2s linear infinite;
      }
      div:nth-of-type(2) span::before,
      div:nth-of-type(3) span::before,
      div:nth-of-type(4) span::before,
      div:nth-of-type(5) span::before {
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 32px;
      }
    }
    .reminders {
      .row {
        position: relative;
        gap: 40px;
        .ball {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            left: 35px;
            width: 2px;
            background-color: inherit;
          }
        }
      }
    }
    .latest-post {
      div:nth-of-type(2) {
        border-bottom: 1px solid #ddd;
      }
      div:nth-of-type(3) {
        line-height: 1.6;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
      }
    }
    .socials {
      .row {
        padding: 10px 15px 10px 70px;
        position: relative;
        i {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 52px;
        }
      }
      .row:nth-of-type(2) span:first-of-type {
        color: #1da1f2;
      }
      .row:nth-of-type(2) i,
      .row:nth-of-type(2) span:last-of-type {
        background-color: #1da1f2;
      }
      .row:nth-of-type(2) {
        background-color: #1da1f22b;
      }
      .row:nth-of-type(3) span:first-of-type {
        color: #1877f2;
      }
      .row:nth-of-type(3) i,
      .row:nth-of-type(3) span:last-of-type {
        background-color: #1877f2;
      }
      .row:nth-of-type(3) {
        background-color: #1877f22b;
      }
      .row:nth-of-type(4) span:first-of-type {
        color: #ff0000;
      }
      .row:nth-of-type(4) i,
      .row:nth-of-type(4) span:last-of-type {
        background-color: #ff0000;
      }
      .row:nth-of-type(4) {
        background-color: #ff00002b;
      }
      .row:nth-of-type(5) span:first-of-type {
        color: #0077b5;
      }
      .row:nth-of-type(5) i,
      .row:nth-of-type(5) span:last-of-type {
        background-color: #0077b5;
      }
      .row:nth-of-type(5) {
        background-color: #0077b52b;
      }
    }
  }
  .projects {
    grid-template-columns: minmax(200px, 1fr);
    margin: 20px;
    display: grid;
    .table {
      width: 100%;
      overflow-x: scroll;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      padding: 15px;
      border: 1px solid #eee;
      text-align: center;
    }
    tr {
      border: 1px solid #eee;
    }
    tr:hover {
      background-color: #fcf2f2b1;
    }
    th {
      background-color: #eee;
      min-width: 150px;
    }
  }
  /*----------------------------------------------------*\
                      Settings styles                     
  \*----------------------------------------------------*/
  .settings-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    gap: 20px;
    .site-control {
      .switch-case {
        .switch {
          appearance: none;
        }
        .switch + div {
          width: 80px;
          height: 38px;
          background-color: #ddd;
          border-radius: 19px;
          position: relative;
          transition: 0.3s;
          cursor: pointer;
        }
        .switch + div::after {
          content: "\f00d";
          font-family: "Font Awesome 6 Free";
          color: #ddd;
          font-weight: 900;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          position: absolute;
          top: 7px;
          left: 7px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
        }
        .switch:checked + div::after {
          content: "\f00c";
          color: var(--blue-alt-color);
          left: 49px;
        }
        .switch:checked + div {
          background-color: var(--blue-alt-color);
        }
      }
      #message {
        border: 1px solid #ddd;
        width: 100%;
        min-height: 140px;
        resize: none;
        margin-top: 25px;
      }
    }
    .general-info {
      input {
        border: 1px solid #ddd;
        border-radius: 6px;
        flex-grow: 1;
      }
      #email {
        @media (max-width: 767px) {
          width: calc(100% - 45px);
        }
      }
    }
    .security {
      .row-info:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
      .row-info {
        .switch-case {
          .switch {
            appearance: none;
          }
          .switch + div {
            width: 80px;
            height: 38px;
            background-color: #ddd;
            border-radius: 19px;
            position: relative;
            transition: 0.3s;
            cursor: pointer;
          }
          .switch + div::after {
            content: "\f00d";
            font-family: "Font Awesome 6 Free";
            color: #ddd;
            font-weight: 900;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            left: 7px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }
          .switch:checked + div::after {
            content: "\f00c";
            color: var(--blue-alt-color);
            left: 49px;
          }
          .switch:checked + div {
            background-color: var(--blue-alt-color);
          }
        }
      }
    }
    .social {
      .social-row {
        display: flex;
        border-collapse: collapse;
        i,
        input {
          background-color: #eee;
        }
        div {
          width: 52px;
          background-color: #eee;
          border: 2px solid #ddd;
          border-radius: 6px 0 0 6px;
        }
        input {
          flex-grow: 1;
          border: 2px solid #ddd;
          border-radius: 0 6px 6px 0;
          border-left: none;
        }
      }
    }
    .widgets-control {
      .checks {
        div {
          label {
            padding-left: 30px;
            position: relative;
            cursor: pointer;
          }
          input[type="checkbox"] {
            appearance: none;
          }
          input[type="checkbox"] + label::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 15px;
            border: 2px solid #ddd;
            border-radius: 4px;
          }
          input[type="checkbox"] + label::before {
            content: "\f00c";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 10px;
            color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 19px;
            z-index: 4;
            border-radius: 4px;
            background-color: var(--blue-alt-color);
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0) rotate(360deg);
            transition: 0.3s;
          }
          input[type="checkbox"]:checked + label::before {
            transform: scale(1) rotate(0);
          }
          input[type="checkbox"]:checked + label::after {
            transition-delay: 0.25s;
            border: none;
          }
        }
      }
    }
    .backup-manager {
      form:first-of-type {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        .radio {
          font-size: 18px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          input[type="radio"] {
            appearance: none;
          }
          input[type="radio"] + label {
            padding-left: 30px;
            position: relative;
          }
          input[type="radio"] + label::after {
            content: "";
            position: absolute;
            top: -2;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid var(--grey-color);
            transition: 0.3s;
          }
          input[type="radio"]:checked + label::after {
            border-color: var(--blue-color);
          }
          input[type="radio"] + label::before {
            content: "";
            position: absolute;
            top: -0.5;
            left: 2.5;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--blue-alt-color);
            transition: 0.3s;
            transform: scale(0);
          }
          input[type="radio"]:checked + label::before {
            transform: scale(0.6);
          }
        }
      }
      .servers {
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }

        input[type="radio"] {
          appearance: none;
        }
        label {
          cursor: pointer;
          border-radius: 10px;
          flex-basis: calc((100% - 20px) / 3);
          @media (max-width: 767px) {
            flex-basis: 100%;
          }

          input[type="radio"] + div {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 20px;
            border: 1px solid #ddd;
            transition: 0.3s;
          }
          input[type="radio"]:checked + div {
            color: var(--blue-color);
            border: 2px solid var(--blue-alt-color);
          }
        }
      }
    }
  }
  .profile-wrapper-Up {
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    .profile {
      max-width: 300px;
      h2 {
        font-size: 16px;
      }
      .bar {
        width: 100%;
        height: 6px;
        background-color: #eee;
        border-radius: 3px;
        position: relative;
        .inside-bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 70%;
          background-color: var(--blue-color);
          border-radius: 3px;
        }
      }
      .stars {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .right {
      & > div {
        border-bottom: 1px solid #ddd;
        & > div {
          align-items: center;
          column-gap: 15px;
          row-gap: 15px;
          flex-wrap: wrap;
          @media (max-width: 767px) {
            flex-basis: calc(50% - 10px);
            justify-content: center;
          }
          input[type="checkbox"] {
            appearance: none;
          }
          input[type="checkbox"]:checked + .switch {
            background-color: var(--blue-color);
          }
          input[type="checkbox"]:checked + .switch::after {
            content: "\f00c";
            left: 70px;
            color: var(--blue-color);
          }
          .switch {
            width: 90px;
            height: 22px;
            border-radius: 17px;
            background-color: #ddd;
            position: relative;
            transition: 0.3s linear;
            &::after {
              content: "\f00d";
              font-family: "Font Awesome 6 Free";
              font-size: 12px;
              font-weight: 900;
              position: absolute;
              top: 2;
              left: 2;
              width: 18px;
              height: 18px;
              background-color: white;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #aaa;
              transition: 0.3s linear;
            }
          }
        }
      }
    }
  }
  .profile-wrapper-bottom {
    @media (max-width: 900px) {
      flex-wrap: wrap;
      .my-skills,
      .activities {
        width: 100%;
      }
    }
    .my-skills .row:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
    .activities {
      flex-grow: 1;
      .activity {
        gap: 10px;
        @media (max-width: 767px) {
          flex-direction: column;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #ddd;
        }
        img {
          margin-right: 15px;
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
        .date {
          margin-left: auto;
          text-align: right;
          @media (max-width: 767px) {
            margin-right: auto;
            text-align: center;
          }
        }
      }
    }
  }
  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
    }

    .project {
      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
      }
      h2 {
        font-size: 16px;
      }
      h2 + p {
        font-size: 13px;
      }
      .imgs {
        position: relative;
        padding: 20px;
        padding-bottom: 35px;
        border-bottom: 1px solid #eee;
        img {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 0;
          left: 0;
          border-radius: 50%;
          border: 2px solid white;
          &:nth-of-type(1) {
            left: 0;
            z-index: 1;
          }
          &:nth-of-type(2) {
            left: 25px;
            z-index: 2;
          }
          &:nth-of-type(3) {
            left: 50px;
            z-index: 3;
          }
          &:nth-of-type(4) {
            left: 75px;
            z-index: 4;
          }
          &:nth-of-type(5) {
            left: 100px;
            z-index: 5;
          }
        }
      }
      .tags {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        @media (max-width: 767px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .btn {
          background-color: #eee;
        }
      }
      .price {
        @media (max-width: 767px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
        }

        .bar {
          width: 240px;
          height: 8px;
          background-color: #eee;
          border-radius: 4px;
          position: relative;
          .inside-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 60%;
            border-radius: 4px;
            background-color: var(--red-color);
          }
        }
      }
    }
  }
  .courses-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    .course {
      overflow: hidden;
      img.profile {
        position: absolute;
        width: 64px;
        height: 64px;
        top: 20px;
        left: 20px;
        z-index: 10;
        border-radius: 50%;
        border: 2px solid white;
      }
      img.cover {
        width: 100%;
      }
      .info {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #eee;
        .btn {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
        }
        p {
          color: var(--grey-color);
          line-height: 1.6;
          font-size: 14px;
        }
      }
      .bottom {
        padding: 15px 20px;
        i {
          span {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .friends-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    .top,
    .info {
      border-bottom: 1px solid #eee;
    }
    .top {
      position: relative;
      &::after {
        content: "\f095";
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: var(--grey-color);
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
      }
      &::before {
        content: "\f0e0";
        position: absolute;
        top: 0px;
        left: 45px;
        font-family: "Font Awesome 6 Free";
        font-weight: 500;
        color: var(--grey-color);
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
      }
      img {
        border-radius: 50%;
      }
    }
  }
  .files-wrapper {
    align-items: baseline;
    .file-statistics {
      align-self: flex-start;
      order: 2;
      // max-width: 280px;
      flex-grow: 2;
      .row {
        font-size: 14px;
        position: relative;
        padding: 10px 10px 10px 70px;
        border: 1px solid #eee;
        border-radius: 10px;
        margin-bottom: 20px;
        .icon {
          position: absolute;
          top: 10px;
          left: 10px;
          height: 75%;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:nth-of-type(1) .icon {
          background-color: #0075ff2b;
        }
        &:nth-of-type(2) .icon {
          background-color: #22c55e2b;
        }
        &:nth-of-type(3) .icon {
          background-color: #f443362b;
        }
        &:nth-of-type(4) .icon {
          background-color: #f59e0b2b;
        }
        .size {
          margin-left: auto;
          color: var(--grey-color);
        }
      }
    }
    .files {
      flex-grow: 1;
      // order: 1;
      width: calc(100% - 280px);
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      @media (max-width: 767px) {
        grid-template-columns: minmax(200px, 1fr);
      }

      .icon + span {
        border-bottom: 1px solid #eee;
      }
    }
    @media (max-width: 850px) {
      flex-wrap: wrap;
      .file-statistics {
        // order: 1;
        width: 100%;
        // max-width: unset;
      }
      .files {
        order: 2;
      }
    }
  }
  .plans-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
    }
    gap: 20px;
    .plan:nth-of-type(1) .top {
      outline: 4px solid var(--green-color);
    }
    .plan:nth-of-type(2) .top {
      outline: 4px solid var(--blue-color);
    }
    .plan:nth-of-type(3) .top {
      outline: 4px solid var(--orange-color);
    }
    .top {
      border: 4px solid white;
      padding: 30px;
      h2 {
        font-size: 38px;
      }
      h2 + span {
        display: inline-block;
        margin-top: 20px;
        font-size: 56px;
      }
      span {
        position: relative;
        font-weight: bold;
        sup {
          position: absolute;
          top: 10px;
          left: -25px;
          font-size: 30px;
        }
      }
    }
    ul {
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #eee;
        .yes {
          color: var(--green-color);
        }
        .no {
          color: var(--red-color);
        }
        .yes,
        .no {
          font-size: 20px;
        }
        .help {
          color: var(--grey-color);
          margin-left: auto;
        }
      }
    }
  }
}
